@font-face {
  font-family: MagicFont;
  src: url("../font/MagicSchoolOne.ttf");
}

h1 {
  font-size: 100px;
  font-family: "MagicFont";
  text-align: center;
  color: rgb(5, 64, 1);
}
body {
  background-image: url("https://imgs.search.brave.com/NI41keCV7TV32jSRk1qXK6AYOrTZoaPUGJ7kFqXSd3M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9ib3V0/aXF1ZS1tYWdpYy1l/ZmZlY3QuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIxLzEx/L0hhcnJ5LVBvdHRl/ci1KZXV4LWRlLWNh/cnRlcy1wYXItVGhl/b3J5MTEtdmVydC5q/cGc");
  background-size: cover;
  background-position: fixed;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: "MagicFont";
  /* BORDER TEMPO----A SUPPRIMER-------------   */
  border-style: dashed;
  border-color: rgb(116, 37, 27);
  /* -------------------------------- */
}
