@font-face {
  font-family: MagicFont;
  src: url("../font/MagicSchoolOne.ttf");
}

/* LE BACKGROUND PRINCIPAL */
body {
  background-color: rgb(0, 0, 0);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  margin: 20px;
  font-size: xx-large;
}

/* ------------------SETTINGS GENERAL---------------------------- */
p {
  color: rgb(191, 156, 3);
}

h2 {
  font-family: "MagicFont";
  font-size: 50px;
  color: rgb(203, 169, 21);
  text-align: center;
}

/* -----------------------------------Header------------------------ */
h1 {
  font-family: "MagicFont";
  font-size: 100px;
  color: rgb(240, 206, 55);
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
  background-image: url("https://medias.lavie.fr/api/v1/images/view/6422e9590ce01b7da43de7ab/width_1000/image.jpg");
  background-size: 5000px;
  background-repeat: no-repeat;
  border-style: none;
  border-color: rgb(240, 206, 55);
}

/* ---------------------NAV------------------------- */
nav ul {
  display: flex;
  justify-content: space-evenly;
  font-family: "MagicFont";

  /* BORDER TEMPO----A SUPPRIMER-------------   */
  border-style: none;
  border-color: rgb(255, 207, 86);
  border-radius: 15px;
  border-width: 3px;
  transition: color 2.3ms ease;
  /* -------------------------------- */
}
nav a {
  font-size: 2 rem;
  text-decoration: none;
  color: rgb(240, 206, 55);
}
nav a:hover {
  color: rgb(255, 0, 0);
}

#text1 {
  color: bisque;
}
/* ---------------------BVN---------------------- */

article h3 {
  color: rgb(240, 206, 55);
}

#bienvenue {
  margin: 100px;
  border-style: none;
  border-color: rgb(255, 207, 86);
  border-radius: 15px;
}

#image2 {
  border: 10px rgb(207, 207, 207) ridge;
  border-width: 5px;
  width: 600px;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border: 10px rgb(207, 207, 207) ridge;
  border-width: 5px;
  float: right;
  width: 600px;
}
/* ----------------Footer-------------------- */

footer {
  background-color: rgb(135, 207, 202);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0;
}

/* ------------------------------RESPONSIVE--------------------------------------- */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 100%;
    color: rgb(240, 206, 55);
    text-align: center;
    background-image: url("https://medias.lavie.fr/api/v1/images/view/6422e9590ce01b7da43de7ab/width_1000/image.jpg");
    background-size: 5000px;
    background-repeat: no-repeat;
  }
  /* -------Nav */
  nav ul {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }

  .img {
    margin-left: 500px;
    width: 100%;
    height: 100%;
  }
  #image2 {
    width: 100%;
    height: 100%;
  }

  footer {
    background-color: rgb(135, 207, 202);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
